_deps
build
*.log
*.a

# CMake artifacts (in-source builds)
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake

# Compiled Object files
*.o
*.obj

# Dynamic Libraries
*.so
*.dylib
*.dll

# Executables
wish-server
wish-client

# Editor/IDE files
.vscode/
.idea/
*.swp
.DS_Store