# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode User Data & State
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# CocoaPods
Pods/
*.podspec.json

# Swift Package Manager
.build/
.swiftpm/

# Node / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors & Tools
.idea/
.vscode/
*.swp
*.swo
*~
